.summery__cards {
    width: 100%;
    // overflow: hidden;
    padding-bottom: 28px;

    .parent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px;
        width: 100%;
        overflow: hidden;

        .div1 {
            width: 100%;
            overflow: hidden;
        }

        @media (max-width: 1320px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}
